<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sunsta.livery">

    <!--access_network_state NetBroadcastUtils中会请求网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--蓝牙权限，应该放到sample中去，灵活配置-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-sdk tools:overrideLibrary="androidx.camera:camera-camera2:1.0.0-alpha08,
    androidx.camera.camera2,androidx.camera.lifecycle,androidx.camera.core" />

    <application
        android:name="com.sunsta.bear.AnApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/DayNightTheme"
        android:windowSoftInputMode="stateAlwaysHidden">

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/base_fileprovider_takephoto" />
    </provider>

        <activity
            android:name="com.sunsta.livery.PictureSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.sunsta.livery.PictureSelectorWeChatStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.sunsta.livery.PictureSelectorCameraEmptyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Picture.Theme.Translucent" />
        <activity
            android:name="com.sunsta.livery.PictureCustomCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.sunsta.livery.PicturePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.sunsta.livery.PictureSelectorPreviewWeChatStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.sunsta.livery.PictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.sunsta.livery.PictureExternalPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.sunsta.livery.PicturePlayAudioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.sunsta.bear.view.activity.UCropActivity"
            android:theme="@style/Base.Theme.NoActionBar" />
        <activity
            android:name="com.sunsta.bear.view.activity.PictureMultiCuttingActivity"
            android:theme="@style/Base.Theme.NoActionBar" />


        <receiver android:name="com.sunsta.bear.faster.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sunsta.livery.view.activity.AliPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ParallaxAppTheme" />

        <activity
            android:name="com.sunsta.bear.view.activity.AliWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ParallaxAppTheme" />

        <activity
            android:name="com.sunsta.bear.view.multipleimage.activities.AlbumSelectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/an_theme_multipleimageselect">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sunsta.bear.view.multipleimage.activities.ImageSelectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/an_theme_multipleimageselect">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.sunsta.bear.engine.DownloadService"
            android:exported="false" />
        <receiver
            android:name=".broadcast.ApkInstallReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="installapk" />
            </intent-filter>
        </receiver>
    </application>
</manifest>